<h2>Create Blog</h2>
<form class='form create-blog-form'>
<div class="form-group">
  <label class="col-form-label" for="blog-title">Enter a blog title</label>
  <input type="text" class="form-control" placeholder="Blog title" id="blog-title">
</div>
<div class="form-group">
  <label class="col-form-label" for="blog-content">Enter the blog content</label>
  <input type="text" class="form-control" placeholder="Blog content" id="blog-content">
</div>
<div class='form-group'>
    <button class='btn btn-primary' type='submit'>Update</button>
  </div>
</form>
<script src='/js/createblog.js'></script>